html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Kanit";
  background: linear-gradient(#1e49c9, rgb(19, 22, 24)) no-repeat;
  background-size: cover;

}



.hr-w{
    width: 85%;
}

#navbg{
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.1);
}

a{
    color:white;
    text-decoration: none;
}
section.hero {
  height: 100vh;

}

#miaminosavgif{
    width: 75%;
    height:95%;
    border-radius: 10px;
}


#glicingif{
    width: 55%;
    height:85%;
    border-radius: 10px;
}